*
* Portfolio 
* Copyright 2015, Glen Inocencio
* 9/1/2015
*


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Global Elements
- Landing Page  
- UX/UI Design
- Print
- Illustration
- Contact
- Footer

*/

/* Global Elements
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

html {
  overflow-x: hidden;
}

html, body{
  overflow-x: hidden;
}

body {
  font-size: 1.75em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  font-family: "Proxima Nova bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 300;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;
  
}

h4 {font-size: 1.414em;}

ul, li {
  text-decoration: none;
}

li {
  display: inline-block; 
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #eb008b !important;
}

img{
  width: 100%;
}

blockquote {
  font-size: 21px;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.center {
  text-align: center;
  margin: 0 auto;
}

.relative{
  position: relative;
}

nav {
  font-family: "Proxima Nova", "HelveticaNeue", "Helvetica" !important;
  text-align: center;
}

.btn-home,
input[type='submit'] {
  border: 2px solid white;
  color: #fff;
  display: inline-block;
  padding: 10px;
  font-family: "Proxima Nova", "HelveticaNeue", "Helvetica";
}


.btn-home a {
  color: #fff;
}

.btn-home:hover,
.btn:active {
  border-color: #eb008b;
}

.main-title, .main-subtitle {
  font-family: "Proxima Nova", "HelveticaNeue", "Helvetica";
  font-weight: 500;
}

.top-section {
  background-color: #e3e3e3;
  height: 300px;
  width: 100%;
}

.image-box {
  height: auto;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  overflow: hidden;
  position: relative;
  -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
    -ms-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;
}

.image-box img {
  position:relative;
  top:0;
  left:0;
  z-index:1
}

.image-box-text {
  position:absolute;
  padding: 5%;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:2;
  opacity:0;
  -webkit-transition: opacity 0.8s ease-in-out;
  -moz-transition: opacity 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out;
  -ms-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
}

.image-box:hover > .image-box-text {
  opacity:5;
  width:100%;
  height:100%; 
  padding:5%;
  display:block;
  background:rgba(255, 255, 255, 0.8)
}

.image-box img:hover {
  opacity: 0.8;
}

ul.main-nav-links {
  display: inline-block;
}

@media(max-width: 550px){

  .main-title {
  font-size: 48px;
  }

  .main-subtitle {
    font-size: 24px;
  }

  .top-section {
    height: 275px;
  }

  .image-box {
  margin-left: 0px;
  }
  
}


/* Landing Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.title-header {
  text-align: center;
  margin-top: 4%;
}

.main-subtitle {
  margin-top: -30px;
}

.about-section {
  background-color: #9ad3de;
  /*height: 300px;*/
  width: 100%;
}

.about-content {
  text-align: center;
  margin-left: 30% !important;  
  padding: 60px;
}

.about-content p {
  margin-top: 0;
  margin-bottom: 0 !important;
}

@media(max-width: 550px){
  .about-content {
    margin-left: 0% !important;
    padding: 35px;
  }
  
}


.ux-ui--section {
  background-color: #a8b6bf;
  /*height: 400px;*/
  width: 100%;
}

.print--section {
  background-color: #edd9c0;
  /*height: 400px;*/
  width: 100%;
}

.illustration--section {
  background-color: #89bdd3;
  /*height: 400px;*/
  width: 100%;
}

.ux-ui-image {
  padding-top: 70px;
  padding-bottom: 70px;
}

.print-image {
  padding-top: 25px;
}

.illustration-image {
  padding-top: 25px;
}

.ux-ui--content, 
.print--content, 
.illustration--content {
  margin-top: 0;
  margin-bottom: 0;
}

.ux-ui--description {
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left: 50px;
}


.print--description {
  padding-top: 110px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.illustration--description {
  padding-top: 120px;
  padding-bottom: 50px;
  padding-left: 50px;
}
.call-to-action--section {
  background-color: #cac8c8;
  /*height: 400px;*/
  width: 100%;
}

.call-to-action--content {
  padding: 50px;
}


.btn--call-to-action {
  border: 2px solid white;
  color: #fff;
  display: inline-block;
  margin-left: 30%;
  padding: 10px;
  font-family: "Proxima Nova", "HelveticaNeue", "Helvetica";
}

.btn--call-to-action:hover {
  border-color: #eb008b;
}

@media(max-width: 550px) {
  .ux-ui--description, 
  .illustration--description {
    padding: 20px;
    /*margin-top: -20% !important;*/
  }

  .print--description,
  .illustration--description {
    padding: 0px 20px 25px 20px;
  }

  .ux-ui-image {
    padding-bottom: 0px;
  }

   .call-to-action--content {
    padding: 25px;
  }

   .btn--call-to-action {
    margin-left: 0% !important;
   }

}



@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:1280px) and (orientation : landscape) {
  .about-content {
    width: 500px !important;
    margin-left: 50px !important;
  }

  .ux-ui-image {
    width: 400px !important;
    padding-bottom: 25px;
  }

  .ux-ui--description {
    padding-top: 0px;
    padding-left: 0px;
    width: 500px !important;
  }

  .print-image {
    width: 400px !important;
    margin-left: -50px !important;
    padding-top: 50px !important;
  }

  .print--description {
    width: 500px !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
  }

  .illustration-image {
    width: 400px !important;
    margin-left: -60px !important;
  }

  .illustration--description {
    width: 500px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
  }

  .call-to-action--content {
    margin-left: 60px !important;
    width: 550px !important;
  }

  .btn--call-to-action {
    margin-left: 0px !important;
    width: 110px !important;
  }



}

/* UX/UI Design
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.jottly--section {
  background-color: #9ad3de;
  /*height: 300px;*/
  width: 100%;
}

.jottly--content,
.glen-project--content,
.blocstarter--content {
  text-align: center;
  margin-top: 5%;
  margin-left: 30% !important;
}

.ux-ui--links {
  color: #fff;
}

.ux-ui--links span {
  left: 0;
  position: relative;
  transition: left 0.5s ease-in-out;
}

.ux-ui--links:hover span {
  left: 10px;
}

.glen-project--image {
  width: 120%;
  margin-left: -15%;
}

.glen-project--section {
  background-color: #edd9c0;
  /*height: 300px;*/
  width: 100%;
}

.blocstarter--section {
  background-color: #89bdd3;
  /*height: 300px;*/
  width: 100%;
}

.blocstarter--image { 
  width: 70%;
  margin-left: 15%;
}

@media(max-width: 550px) {
  .jottly--content,
  .glen-project--content,
  .blocstarter--content {
    text-align: center;
    margin-top: 5%;
    margin-left: 0% !important;
    padding: 35px;
    }

  .glen-project--image {
    margin-left: -10%;
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:1280px) and (orientation : landscape) {
  
  .jottly--image {
    width: 500px !important;
    margin-left: -105px !important;
  }

  .glen-project--image {
    width: 500px !important;
    margin-left: -115px !important;
  }

  .blocstarter--image {
    width: 400px !important;
    margin-left: -60px !important;
  }

  .ux-ui-text {
    width: 400px !important;
    margin-left: -60px !important;
  }
}

/*  Print
________________________________________________________________
*/


.print--section {
  background-color: #edd9c0;
} 

.image-box-title--print {
  margin-top: 50%;
  margin-left: 5%;
}

.image-box-subtitle--print {
  margin-left: 5%;
}  


.

/*  Illustration
________________________________________________________________
*/

.illustration--section {
  background-color: #89bdd3;
}   

.image-box-title--illustration {
  margin-top: 30%;
  margin-left: 5%;
}

.image-box-subtitle--illustration {
  margin-left: 5%;
}  



/*  Contact
________________________________________________________________
*/

.main-content-form {
  background-color: #a8b6bf;
}

.form-box {
  background-color: #9ad3de;
  width: auto;
  height: auto;
  margin-left: 31% !important;
  margin-top: 5%;
}

@media(max-width: 550px) {
  .form-box {
    margin-left: 0% !important;
    margin-top: 0%;
    height: 100%
  }
}

.form-greeting {
  padding: 10px;
  text-align: center;
}

.contact-form {
  padding: 5px 30px 0 30px;
}

.contact--section {
  background-color: #a8b6bf;
  height: 600px;
  width: 100%;
} 

input, 
textarea {
  border: 1px solid #000;
  display: block;
  width: 100%;
  height: 50px;        
}

input:active, 
textarea:active {
  box-shadow: 0 0 0 transparent;
  outline: none;
} 

.btn-contact {
   color: #fff;
   text-align: center;
   width: 100px;
   height: 40px;
   background-color: #9ad3de;
}

.btn-contact:hover{
  color: #FF0000;
  border: 2px solid #FF0000 !important;
  padding: 5px;
} 


/*  Footer
________________________________________________________________
*/

footer {
  background-color: black;
  padding: 10px;
  height: auto;
}

.footer-content {
  margin-top: 3%;
  margin-left: 40% !important;
  text-align: center;
}

.footer-title {
 color: #fff;
}

ul.social-media-icons {
  display: inline-block;
}

.social-media-icon {
  width: 50px;
  height: 50px;
}

@media(max-width: 550px) {
  .footer-content {
    margin-left: 0% !important;
  }
   }

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:1280px) and (orientation : landscape) {
  .footer-title {
    width: 176px !important;  
  }

  ul.social-media-icons {
    width: 300px !important;
    margin-left: -60px !important;
  }


}



